<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button layout="label-hide" tab="setup">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Настройки</ion-label>
        </ion-tab-button>

        <ion-tab-button layout="label-hide" tab="commands">
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>Команды</ion-label>
        </ion-tab-button>

        <ion-tab-button layout="label-hide" tab="extra">
            <ion-icon name="cube"></ion-icon>
            <ion-label>Больше</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
