// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.card-button {
  text-align: center;
  padding: 10px 0 0 0;
  & > ion-icon {
    font-size: 40px;
  }
  & > ion-card-content > p {
    font-size: 16px;
  }
}
.icon-col- {
  &green { color: #32db64; }
  &red { color: #f53d3d; }
  &blue { color: #387ef5; }
}
.toast-message { white-space: pre; }
